

* {
   box-sizing: border-box;
}


body {
  font-family: 'Futura', 'San Serif';
  color: black;
  font-size: 20px;
  line-height: 40px;
  margin: 0;

}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#container {
text-align: center;
padding: .8em 1.2em;
}

#logo {
  width:300px;
  left: 16px;
  position:relative;

}

.hide-mobile {
   display: none;
}



.nav{
  margin-top: 0;

}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
   width: 30px;
   margin-top: 45%;
   padding: 22px;

}

section {
align: center;

}

 .hero-1 {
   width: 100%;
   display: inline;
   box-sizing: border-box;

}




h1 .subhead {
    font-size:5em;
}

.pink-container {

    width: 100%;
    background-color: #CC266C;
    opacity: 0.7;
    margin-top: 15%;
    padding: 50px 30px 0;

  }

#lists {

    position: relative;
    color: white;
}


footer {
    font-size: 9px;
    align: center;
    color: white;
  }

@media (max-width: 1680px) {

nav ul {
  position: fixed;
  width: 30%;
  top: 0;
  right: 0;
  text-align: left;
  background:  #CC266C;
  opacity:0.7;
  height:100%;
  padding-top:3em;
}

nav ul li a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding:1em 2em;
  background-color: gray;
}

nav ul li a: hover {
  background-color: #CC266C;
}

.exit-btn {
  margin-bottom: 1em;
  margin-top: -1.3em;
  text-align: right;
  padding: 0 1.4em;
}

.exit-btn img{
   width: 15px;
   cursor: pointer;
}

}
@media (max-width:1680px) and (min-width: 660px) {

.show-desktop {
  display: block;
  margin: 0 auto 13% auto;
}

.hide-desktop {
   display: none;
}


nav ul {
  position: inherit;
  width: auto;
  background: none;
  height: auto;
  display: flex;
  padding-top: 20px;



}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  background-color: inherit;
   padding: 1em 2em;
}

nav ul li a: hover {
  background-color: #CC266C;
}
}
