

body {
  font-family: 'Open Sans', 'San Serif';
  color: black;
  font-size: 20px;
  line-height: 40px;
  margin:10%;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#container {
text-align: center;
padding: .8em 1.2em;
}

.logo {
  width:200px;


}

.hide-mobile {
   display: none;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
   width: 30px;
   margin-top: 45%;
   margin-right: 50%

}

section {

 align: center;
  width: 90%;
}

 .hero {
  width: 80%;
}

h1 .subhead {
    font-size:5em;
}

.gray-container {

    width: 100%;
    background: #827F76;
    margin-top: 15%;
    padding: 4em 0 2em;
  }

 .exercises {

    align: center;
    color: white;

  }

  .lists {
    color: black;
  }





  footer {
    font-size: 9px;
    align: center;
    color: white;
  }
