
body {
  font-family: "Neue Haas Unica", Helvetica, Arial, sans-serif;
  background: #FFFFFF;
  color: black;
  font-size: 20px;
  line-height: 35px
  display:block;
}

  .memoir {
    color: gray;
    font-family:monospace;
    font-size:30px
  }


.title {
  color: teal;
  font-size: 67px;
  line-height: 1.1;
}

.uppercase {
  text-transform: uppercase;
}

.location {
  color: teal;

}

  #container {
   max-width:900px;
   margin:20% 20%;
 }


 img {
   max-width: 100%;
 }




.navbar {
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 50px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: monospace;
}

a:hover {
  color: gray;
}

.logo {
  position: relative;
  max-width: 50%
