:root {
  --fontHeight: 25%;
  --negativeColor: black;
  --baseKern: 2vw;
  --stemWidth: 10%;

}


body{
background:#551C55 ;

}




.fontBox {

  width:100%;
  height: 100%;

  background:black;
  position: absolute;
  top: 7vh;

}




/* setup so our letters to have equal spacing */
.rootLetter {
  float:left;
  position:relative;



}

.letter {
  height:10vw;
  width: 10vw;
}

.letter * {
  position: absolute;

}


/* define some letter parts */



    /* A */
.a {


}

.a>.stem.one{
  width: var(--stemWidth);
  height:calc(var(--fontHeight) + 50%);

  background: #DE2627;
  position: absolute;
  z-index: 0;
  left: 90%;
  top: 30%;

}

.a>.stem.two {
  width: var(--stemWidth);
  height:calc(var(--fontHeight) + 50%);
  background:#551C55;
  position: absolute;
  z-index:1;
  left: 85%;
  top: 30%;
}







.a>.counter.one {
	width: 70%;
	height: 70%;
  border-radius: 50%;
	position: absolute;
	display: inline-block;
  left: 20%;
  top: 35%;
  background-color: #551C55;
  z-index: 2;

}

.a>.counter.two  {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  background-color: #DE2627;
  z-index: 3;
  left:30%;
  top:40%;
}

.a>.counter.three {
    width: 30%;
    height:30%;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
   background:var(--negativeColor);
    z-index: 4;
    left:40%;
    top:53%;

  }



/* B */






 .b>.stem.one{
    width: var(--stemWidth);
    height:calc(var(--fontHeight) + 81%);
    background: #DE2627;
    position: absolute;
    z-index: 0;

    left:30%;
  }

 .b>.stem.two{
    width: var(--stemWidth);
    height:calc(var(--fontHeight) + 81%);
    background:#551C55;
    position: absolute;
    z-index:1;
    left:35%;

  }


 .b>.counter.one{
  	width: 70%;
  	height: 70%;
    border-radius: 50%;
  	position: absolute;
  	display: inline-block;
    left: 40%;
    top: 35%;
    background-color: #551C55;
    z-index: 2;

  }

 .b>.counter.two{
    width: 50%;
    height:50%;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    background-color: #DE2627;
    z-index: 3;
    left:50%;
    top: 40%;
  }

 .b>.counter.three{
      width: 30%;
      height:30%;
      border-radius: 50%;
      position: absolute;
      display: inline-block;
      background:var(--negativeColor);
      z-index: 4;
      left: 60%;
      top: 53%;

    }


    /* C */



    .c>.counter.one {
      width: 70%;
      height: 70%;
      border-radius: 50%;
      position: absolute;
      display: inline-block;
      left: 40%;
      top: 35%;
      background-color: #551C55;
      z-index: 2;

    }

    .c>.counter.two {
      width: 50%;
      height: 50%;
      border-radius: 50%;
      position: absolute;
      display: inline-block;
      background-color: #DE2627;
      z-index: 3;
      left:50%;
      top:40%;
    }

    .c>.counter.three{
        width: 30%;
        height:30%;
        border-radius: 50%;
        position: absolute;
        display: inline-block;
        background:var(--negativeColor);
        z-index: 4;
        left:60%;
        top:53%;

      }


     .c>.invisible.one {
        width: 30% ;
        height: 70%;
        background:var(--negativeColor);

        position: absolute;
        z-index: 6;
        top: 35%;
        left: 80%;
      }


      /* D */




        .d-one{
          width: var(--stemWidth);
          height:calc(var(--fontHeight) + 82%);
          background: #DE2627;
          position: absolute;
          z-index: 5;

          left: 75%;

        }

        .d-two{
          width: var(--stemWidth);
          height:calc(var(--fontHeight) + 82%);
          background:#551C55;
          position: absolute;
          z-index:6;
          left:70%;

        }


        .d-c-one {
        	width: 70%;
        	height: 70%;
          border-radius: 50%;
        	position: absolute;
        	display: inline-block;
          left: 10%;
          top: 35%;
          background-color: #551C55;
          z-index: 2;

        }

        .d-c-two {
          width: 50%;
          height: 50%;
          border-radius: 50%;
          position: absolute;
          display: inline-block;
          background-color: #DE2627;
          z-index: 3;
          left:20%;
          top:40%;
        }

          .d-c-three {
            width: 30%;
            height:30%;
            border-radius: 50%;
            position: absolute;
            display: inline-block;
           background:var(--negativeColor);
            z-index: 4;
            left:30%;
            top:53%;

          }



          /* E */




              .e-one{
                    width: 60%;
                    height: 9%;
                    background:var(--negativeColor);

                    position: absolute;
                    z-index: 7;
                    top: 70%;
                    left: 46%;
                  }


            .e-s-one{
              width: 30%;
              height: 7%;
              background: #551C55;
              position: absolute;
              z-index: 3;
              top: 58%;
              left: 40%;

            }

            .e-s-two{
              width: 45%;
              height: 7%;
              background: #DE2627;
              position: absolute;
              z-index:6;
              left:35%;
              top: 63%;
            }




            .e-c-one {
              width: 70%;
              height: 70%;
              border-radius: 50%;
              position: absolute;
              display: inline-block;
              left: 20%;
              top: 35%;

              background-color: #551C55;
              z-index: 2;

            }

            .e-c-two {
              width: 50%;
              height: 50%;
              border-radius: 50%;
              position: absolute;
              display: inline-block;
              background-color: #DE2627;
              z-index: 3;
              left:30%;
              top:40%;
            }



              .e-c-three {
                width: 30%;
                height:30%;
                border-radius: 50%;
                position: absolute;
                display: inline-block;
                background:var(--negativeColor);

                z-index: 4;
                left:40%;
                top:53%;

              }



           /* F*/

           .f>.stem.one{
              width: var(--stemWidth);
              height:50%;
              background: #DE2627;
              position: absolute;
              z-index: 1;
              top:35%;

              left:30%;
            }

           .f>.sem.two{
              width: var(--stemWidth);
              height:50%;
              background:#551C55;
              position: absolute;
              z-index:1;
              left:35%;
              top:30%;

            }


            .f>.stem.four{
               width: var(--stemWidth);
               height:50%;
               background: #DE2627;

               position: absolute;
               z-index: 2;
               top:55%;
               left:30%;

             }

            .f>.stem.five{
               width: var(--stemWidth);
               height:70%;
               background:#551C55;

               position: absolute;
               z-index:2;
               left:35%;
               top:35%;

             }


            .f>.sem.three{
               width: var(--stemWidth);
               height:30%;
               background:#DE2627;
               position: absolute;
               z-index:5;
               left:45%;
               top:30%;

             }


             .f>.crossbar.one{
               width: 50%;
               height:15%;
               background:#DE2627;
               z-index:7;
               top:45%;
               left:20%;


             }


             .f>.crossbar.two{
               width: 50%;
               height:15%;
               background:#551C55;
               z-index:6;
               top:40%;
               left:20%;


             }






            .f>.invisible.two{
                width: 50%;
                height: 50%;

                position: absolute;
                display: inline-block;
                left: 45%;
                top: 30%;
                border-radius: 10%;



               background:var(--negativeColor);
                z-index: 5;

                }




              .f>.invisible.three{
                   width: 30%;
                   height: 60%;
                   position: absolute;
                   display: inline-block;
                   left:80%;

                   background:var(--negativeColor);

                   z-index: 6;

                    }




              .f>.circle.one{
                   width: 40%;
                   height: 40%;
                   border-radius: 50%;
                   position: absolute;
                   display: inline-block;
                   left: 45%;
                   top: 15%;
                   background:var(--negativeColor);

                    z-index: 5;
                  }



               .f>.circle.two{
                      width: 55%;
                      height:55%;
                      border-radius: 50%;
                      background:#DE2627;


                      position: absolute;
                      z-index: 0;
                      top:10%;
                      left: 30%;
                        }









           .f>.counter.one{
            	width: 70%;
            	height: 70%;
              border-radius: 50%;
            	position: absolute;
            	display: inline-block;
              left: 35%;

              background-color: #551C55;
              z-index: 2;


            }

           .f>.conter.two{
              width: 50%;
              height:50%;
              border-radius: 50%;
              position: absolute;
              display: inline-block;
              background-color: #DE2627;
              z-index: 3;
              left:45%;
              top:5%;

            }

           .f>.cuter.three{
                width: 30%;
                height:30%;
                border-radius: 50%;
                position: absolute;
                display: inline-block;
                background:var(--negativeColor);
                z-index: 4;
                left: 60%;
                top: 53%;

              }







              /* g*/






              .g>.counter.one {
              	width: 70%;
              	height: 70%;
                border-radius: 50%;
              	position: absolute;
              	display: inline-block;
                left: 10%;
                top: 35%;
                background-color: #551C55;
                z-index: 5;

              }

             .g>.counter.two {
                width: 50%;
                height: 50%;
                border-radius: 50%;
                position: absolute;
                display: inline-block;
                background-color: #DE2627;
                z-index: 5;
                left:20%;
                top:40%;
              }

             .g>.counter.three {
                  width:30%;
                  height:30%;
                  border-radius: 50%;
                  position: absolute;
                  display: inline-block;
                  background:var(--negativeColor);
                  z-index: 5;
                  left:30%;
                  top:53%;

                }


              .g>.stem.one {
                  width: var(--stemWidth);
                  height:95% ;
                  background: #DE2627;
                  position: absolute;
                  z-index: 1;
                  left: 80%;
                  top: 35%;
                }

               .g>.stem.two {
                  width: var(--stemWidth);
                  height:100%;
                  background:#551C55;
                  position: absolute;
                  z-index:2;
                  left: 75%;
                  top: 35%;
                }


                .g>.stm.three {
                    width: 65%;
                    height:100% ;
                    background: #DE2627;
                    border-radius: 43%;
                    position: absolute;
                    z-index: 2;
                    left: 25%;
                    top: 56%;
                  }

                 .g>.stm.four {
                    width: 65%;
                    height:100%;
                    border-radius: 45%;
                    background:#551C55;
                    position: absolute;
                    z-index:2;
                    left: 21%;
                    top: 55%;
                  }


                .g>.circle.one {
                  width: 70%;
                  height: 60%;
                  top: 100%;
                  border-radius:50%;
                  background:#551C55;
                  left: 15%;
                  position: absolute;
                  z-index:3;

                }


                .g>.circle.two {
                    width: 55%;
                    height:55%;
                    background:#DE2627;
                    border-radius: 50%;
                    position: absolute;
                    z-index:0;
                    top: 100%;
                    left:35%;
                  }


                 .g>.invisible.one {

                   width: 55%;
                   height:70%;
                   background:var(--negativeColor);
                  border-radius: 10%;


                   position: absolute;
                   z-index:4;
                   left:10%;
                   top:70%;

                 }



                  .g>.invisible.two {

                    width: 50%;
                    height:60% ;
                    border-radius: 35%;
                    background:var(--negativeColor);

                    z-index: 4;
                    left:25%;
                    top:85%;


                     }




                    .g>.invisible.three {

                        width: 30%;
                        height:70%;
                        background:var(--negativeColor);

                        position: absolute;
                        z-index:4;
                        left:10%;
                        top:70%;

                        }




                    .g>.invisible.four {

                          width: 60%;
                          height:40%;
                          background:var(--negativeColor);

                          position: absolute;
                          z-index:4;
                          left:15%;
                          top:90%;

                          }




                /* H */



                .b>.stem.one{
                   width: var(--stemWidth);
                   height:calc(var(--fontHeight) + 81%);
                   background: #DE2627;
                   position: absolute;
                   z-index: 0;

                   left:30%;
                 }

                .b>.stem.two{
                   width: var(--stemWidth);
                   height:calc(var(--fontHeight) + 81%);
                   background:#551C55;
                   position: absolute;
                   z-index:1;
                   left:35%;

                 }



                .b>.counter.two{
                   width: 50%;
                   height:50%;
                   border-radius: 50%;
                   position: absolute;
                   display: inline-block;
                   background-color: #DE2627;
                   z-index: 3;
                   left:50%;
                   top: 40%;
                 }

                .b>.counter.three{
                     width: 30%;
                     height:30%;
                     border-radius: 50%;
                     position: absolute;
                     display: inline-block;
                     background:var(--negativeColor);
                     z-index: 4;
                     left: 60%;
                     top: 53%;

                   }




                  .h>.stem.one{
                    width: var(--stemWidth);
                    height:calc(var(--fontHeight) + 81%);
                    background: #DE2627;
                    position: absolute;
                    z-index: 0;
                   left:30%;
                  }

                  .h>.stem.two{
                    width: var(--stemWidth);
                    height:calc(var(--fontHeight) + 81%);
                    background:#551C55;
                    position: absolute;
                    z-index:1;
                    left:35%;

                  }


                  .h>.stem.three{
                    width: var(--stemWidth);
                    height: 35%;
                    background:#551C55;
                    position: absolute;
                    z-index:7;
                    left:100%;
                    top: 70%;
                  }

                  .h>.stem.four{
                    width: var(--stemWidth);
                    height: 35%;
                    background:#DE2627;
                    position: absolute;
                    z-index:6;
                    left:90%;
                    top: 70%;
                  }




                  .h>.circle.one {
                    width: 50%;
                    height:70%;
                    top: 8px;
                    border-radius: 100px;
                    background:#DE2627;
                    left: 50%;
                    position: absolute;
                    z-index:5;
                    top: 40%;

                  }

                   .h>.circle.two {
                     width: 70%;
                     height: 70%;
                     background:#551C55;
                     border-radius: 50%;
                     position: absolute;
                     z-index:4;
                     top: 35%;
                     left:40%;
                  }




                    .h>.invsible.one {

                      width: 40%;
                      height: 70%;

                      border-radius: 50%;
                      background:var(--negativeColor);

                      left: 55%;
                      position: absolute;
                      z-index:5;
                      top: 50%;

                    }

                    .h>.invisible.two{
                      width: 50%;
                      height: 50%;
                      background:var(--negativeColor);
                      position: absolute;
                      z-index:6;
                      left: 45%;
                      top:70%;
                    }


                    .h>.invisible.three{
                      width: 50%;
                      height: 60%;
                      background:var(--negativeColor);
                      border-radius:40%;
                      position: absolute;
                      z-index:5;
                      left: 45%;
                      top:50%;
                    }



                    /* i */

                    .i{
                      width: 100px;
                    }

                     .i>.stem.one{
                      width: var(--stemWidth);
                      height:calc(var(--fontHeight) - 70px);
                      background: #DE2627;
                      position: absolute;
                      z-index: 0;

                      top:80px;
                    }

                     .i>.stem.two{
                      width: var(--stemWidth);
                      height:calc(var(--fontHeight) - 70px);
                      background:#551C55;
                      position: absolute;
                      z-index:1;
                      left: 10px;
                      top: 80px;
                    }

                    .i>.counter.one{
                    	width: 30px;
                    	height: 30px;
                      border-radius: 50%;
                    	position: absolute;
                    	display: inline-block;

                      top: 20px;
                      background-color: #551C55;
                      z-index: 2;

                    }

                  .i>.counter.two{
                      width: 18px;
                      height:18px;
                      border-radius: 50%;
                      position: absolute;
                      display: inline-block;
                      background-color: #DE2627;
                      z-index: 3;
                      left:6px;
                      top:25px;
                    }

                      .i>.counter.three{
                        width: 10px;
                        height:10px;
                        border-radius: 50%;
                        position: absolute;
                        display: inline-block;
                       background:var(--negativeColor);
                        z-index: 4;
                        left:10px;
                        top:30px;

                      }



                      /* J*/


                      .j{
                        width: 100px;
                      }

                       .j>.stem.one{
                        width: var(--stemWidth);
                        height:var(--fontHeight);
                        background: #DE2627;
                        position: absolute;
                        z-index: 0;

                        top:80px;
                      }

                       .j>.stem.two{
                        width: var(--stemWidth);
                        height:var(--fontHeight);
                        background:#551C55;
                        position: absolute;
                        z-index:1;
                        left: 10px;
                        top: 80px;
                      }

                      .j>.counter.one{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        position: absolute;
                        display: inline-block;

                        top: 20px;
                        background-color: #551C55;
                        z-index: 2;

                      }

                     .j>.counter.two{
                        width: 18px;
                        height:18px;
                        border-radius: 50%;
                        position: absolute;
                        display: inline-block;
                        background-color: #DE2627;
                        z-index: 3;
                        left:6px;
                        top:25px;
                      }

                      .j>.counter.three{
                          width: 10px;
                          height:10px;
                          border-radius: 50%;
                          position: absolute;
                          display: inline-block;
                          background:var(--negativeColor);
                          z-index: 4;
                          left:10px;
                          top:30px;

                        }


                        /* k*/

                        .k {
                          width: 200px;
                        }


                        .k>.stem.one{
                          width: var(--stemWidth);
                          height: var(--fontHeight);
                          background: #DE2627;
                          position: absolute;
                          z-index: 2;
                          top: 10px;
                        }

                        .k>.stem.two{
                          width: var(--stemWidth);
                          height: var(--fontHeight);
                          background:#551C55;
                          position: absolute;
                          z-index:2;
                          left:10px;
                          top: 10px;
                        }


                         .k>.arm.one{
                           width: var(--stemWidth);
                           height:calc(var(--fontHeight) - 80px);
                           background: #DE2627;
                           position: absolute;
                           z-index: 1;
                           top: 30px;
                           left:50px;



                           transform: rotate(55deg);
                           }


                           .k>.arm.two{
                             width: var(--stemWidth);
                             height:calc(var(--fontHeight) - 70px);
                             background: #551C55;
                             position: absolute;
                             z-index: 1;
                             top: 35px;
                             left:50px;
                             transform: rotate(55deg);
                             }



                             .k>.leg.one{
                               width: var(--stemWidth);
                               height:200px;
                               background:  #DE2627;
                               position: absolute;
                               z-index: 0;
                               top: 80px;
                               left:105px;
                               transform: rotate(-55deg);
                               }



                             .k>.leg.two{
                               width: var(--stemWidth);
                               height:200px;
                               background: #551C55;
                               position: absolute;
                               z-index: 0;
                               top:75px;
                               left:115px;
                               transform: rotate(-55deg);
                               }



                           .k>.invisible.one{
                               width : 100px;
                               height:50px;
                               background:var(--negativeColor);
                               z-index: 3;
                               top: 25px;
                               left: 60px;
                              }



                             .k>.invisible.two{
                                width : 100px;
                                height:50px;
                                background:var(--negativeColor);
                                z-index: 4;
                                top: 210px;
                                left: 120px;
                                }




                                .L {
                                  width: 200px;
                                }


                                .L>.stem.one{
                                  width: var(--stemWidth);
                                  height: var(--fontHeight);
                                  background: #DE2627;
                                  position: absolute;
                                  z-index: 2;
                                  top: 10px;
                                  left:30px;
                                }

                                .L>.stem.two{
                                  width: var(--stemWidth);
                                  height: var(--fontHeight);
                                  background:#551C55;
                                  position: absolute;
                                  z-index:2;
                                  left:40px;
                                  top: 10px;
                                }
