* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background:#8B11C1;
        margin-left: auto;
        margin-right: auto;
        margin-top:250px;
        background: rgb(17,55,250);
        background: radial-gradient(circle, rgba(17,55,250,1) 0%, rgba(96,13,190,1) 0%, rgba(31,11,41,1) 100%);

      }
.sun {

        width: 100px;
        height:100px;
        background: red;
        border-radius: 75px;
        position: absolute;
        top: 45px;
        left: 350px;
        transition: .2s opacity;


}



.star-five {
    margin: 50px 0;
    position: relative;
    display: block;
    color: blue;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid blue;
    border-left: 100px solid transparent;
    transform: rotate(60deg);
    top: 150px;
    left:50px;
  }

  .star-five:before {
    border-bottom: 80px solid blue;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  .star-five:after {
    position: absolute;
    display: block;
    color: red;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid blue;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }

  .animation-blink {
  -webkit-animation-name: blink; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .6s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
   animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes blink {
  from { background-color: red; }
  to { background-color: yellow; }
}

/* Standard syntax */
@keyframes blink {
  from { background-color: red; }
  to { background-color: yellow; }
}


.animation-rotate {
  -webkit-animation-name: rotate; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .8s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-in-out;
  animation-name: rotate;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes rotate {
  0% { transform: rotate(0); }
  100% { transform: rotate(180deg); }
}

/* Standard syntax */
@keyframes rotate {
  0% { transform: rotate(0); }
  100% { transform: rotate(180deg); }
}

.hover-scale: hover {
   
}










  /*I use internet for information mostly.

   rotate 60deg for to create a motion, oppose to static.
  Red= revolution, blue= spirituality, purple= en equal balance of inner and
  outer introspection
  Blue star is bigger than red circle because, we should be inspecting ourselves
  more than the outer world*/
