
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: red;
        margin-top:250px;
        margin-left:auto;
        margin-right:auto;
        border-color: #130E84;
        border-style: solid;
        border-width: 30px;
        background: rgb(6,41,222);
        background: radial-gradient(circle, rgba(6,41,222,1) 0%,
        rgba(100,64,193,1) 0%, rgba(155,5,231,1) 100%);
}

/* shapes */
.circle {

        width:200px;
        height:200px;
        background: red;
        border-radius:300px;
        position: absolute;
        top: 50px;
        left: 150px;
        z-index:1
}


    .yin-yang{
      width: 96px;
      box-sizing: content-box;
      height: 48px;
      background: red;
      border-color: blue;
      border-style: solid;
      border-width: 4px 4px 50px 4px;
      border-radius: 100%;
      position: absolute;
      top: 95px;
      left: 200px;
      z-index: 2;

    }
  .yin-yang:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      background: Red;
      border: 18px solid blue;
      border-radius: 100%;
      width: 12px;
      height: 12px;
      box-sizing: content-box;
    }
  .yin-yang:after {
      content: "";
      position: absolute;
      top: 60%;
      left: 50%;
      background: blue;
      border: 18px solid red;
      border-radius: 100%;
      width: 12px;
      height: 12px;
      box-sizing: content-box;
    }
