
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: red;
        margin-top:250px;
        margin-left:auto;
        margin-right:auto;
        border-color: #130E84;
        border-style: solid;
        border-width: 30px;
        background: rgb(6,41,222);
        background: radial-gradient(circle, rgba(6,41,222,1) 0%,
        rgba(100,64,193,1) 0%, rgba(155,5,231,1) 100%);
}

/* shapes */
.circle {

        width:200px;
        height:200px;
        background: red;
        border-radius:300px;
        position: absolute;
        top: 50px;
        left: 150px;
        z-index:1
}


    .yin-yang{
      width: 96px;
      box-sizing: content-box;
      height: 48px;
      background: red;
      border-color: blue;
      border-style: solid;
      border-width: 4px 4px 50px 4px;
      border-radius: 100%;
      position: absolute;
      top: 95px;
      left: 200px;
      z-index: 2;
      transition: .2s opacity;

    }

  .yin-yang:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      background: Red;
      border: 18px solid blue;
      border-radius: 100%;
      width: 12px;
      height: 12px;
      box-sizing: content-box;
    }
  .yin-yang:after {
      content: "";
      position: absolute;
      top: 60%;
      left: 50%;
      background: blue;
      border: 18px solid red;
      border-radius: 100%;
      width: 12px;
      height: 12px;
      box-sizing: content-box;
    }

    .animation-blink {
    -webkit-animation-name: blink; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .6s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation-name: blink;
    animation-duration: 4s;
    animation-iteration-count: infinite;
     animation-direction: alternate;
  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes blink {
    from { background-color: red; }
    to { background-color: blue; }
  }

  /* Standard syntax */
  @keyframes blink {
    from { background-color: red; }
    to { background-color: blue; }
  }

@keyframes spin {

  from{
    transform:rotateX(odeg);
  }

  to {
    transform:rotate(90deg);
  }
}
